<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="server_window_name" value="D:\MinecraftServer\bedrock-server-1.11.1.2\bedrock_server.exe" />
  </appSettings>
</configuration>
